body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(218, 23%, 16%);
    font-size: 28px;
    margin: 0;
    padding: 0;
}
main{
    max-width: 1440px;
    padding-top: 10rem;
    box-sizing: border-box;
}
div{
    margin: 0;
}
.box{
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
    width: 550px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
}
.advice {
    color: hsl(150, 100%, 66%);
    font-size: 0.9rem;
    padding-top: 1rem;
    box-sizing: border-box;
}

.advice-text{
    color: hsl(193, 38%, 86%);
    padding: 2rem 4rem;
    width: 500px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

.button{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color:hsl(150, 100%, 66%);
    position: relative;
    top: 2rem;
}

.button img{
    box-sizing: border-box;
    padding: 1rem 1rem;
    box-sizing: border-box;
  
}
.img-two{
    display: none;
}
.click {
    box-shadow: 0 0  3rem hsl(150, 100%, 66%, 1);
}
@media screen  and (min-width: 375px) and (max-width: 800px){
    body {
        font-size: 20px;
    }
    .box {
        width: 320px;
        margin: 0 auto;
    }
    .advice{
        padding-top: 2rem;
    }
    .advice-img img{
        display: none;
    }
    .advice-img .img-two {
        display: inline-block;
    }
    .advice-text{
        padding: 2rem 1.5rem;
        width: 300px;
    }
    .button{
        top: 1.8rem;
    }
}